@import "../vars&mixins.scss";

.hamburger-menu {
  &__content {
    width: 100%;
    height: 100%;
  }

  &__line {
    fill: none;
    stroke: $mainColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    transform: translate(-40%, -45%);
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &__line--1,
  &__line--3 {
    --total-length: 126.64183044433594;
  }
  &__line--2 {
    --total-length: 70;
  }
  &__content--active > &__line--1,
  &__content--active > &__line--3,
  &__content:hover > &__line--1,
  &__content:hover > &__line--3 {
    --offset: -94.1149185097;
    --length: 22.627416998;
  }
  &__content--active > &__line--2,
  &__content:hover > &__line--2 {
    --offset: -50;
    --length: 0;
  }
}
