@import "./vars&mixins.scss";
@import "../../node_modules/sass-rem/rem";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}

body {
  background-color: $mainColor;
  color: $secColor;

  font-family: "Gilroy";
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: $mainColor;
}

li {
  list-style: none;
}

.container {
  max-width: rem(1400px);
  height: 100%;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.section {
  position: relative;
}

.page {
  &__main {
  }
  &__sidebar {
    height: calc(100% - 3.4rem);
    width: 100%;
    top: rem(54px);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    position: fixed;
  }

  &__sidebar--active {
    visibility: visible;
  }
  &__title {
    font-size: rem(32px);
    /* color: #0C6DB2; */
    color: $secColor;
    position: relative;
    border-bottom: 1px solid black;
    line-height: rem(46px);

    @media screen and (max-width: 550px) {
      font-size: rem(27px);
    }
  }
}

.page--no-scroll {
  overflow: hidden !important;
}
