$mainColor: #ffffff;
$secColor: #000000;
$thirdColor: #2a75d8;
$brownColor: #222222;
$redColor: #d2001c;
$yellowColor: #fed600;

// #CF4363 #F9F871

// @include grid(/* m-top */, /* grg */, /* gcg */, /* rows */ , /* rw */, /* auto-fit */, /* min */, /* max */ )

@mixin grid($margin, $rowGap, $columnGap, $rows, $rowWidth, $auto, $min, $max) {
  margin-top: $margin;
  display: grid;
  grid-row-gap: $rowGap;
  grid-column-gap: $columnGap;
  grid-template: repeat($rows, $rowWidth) / repeat($auto, minmax($min, $max));
}

@mixin position($position, $content, $top, $bottom, $left, $right, $margin) {
  position: $position;
  content: $content;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  margin: $margin;
}

@mixin flexbox($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    /*     src: url("../fonts/") format("woff"), */
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
