.contact {
  margin-top: 9.375rem;
  /*  @include mainPosition(); */
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.25rem;
}

.contact__title {
  text-align: center;
  font-size: 1.75rem;
}

.contact__form {
  -webkit-box-shadow: -0.125rem -0.125rem 0.25rem rgba(0, 0, 0, 0.15), 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
          box-shadow: -0.125rem -0.125rem 0.25rem rgba(0, 0, 0, 0.15), 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin-bottom: 1.25rem;
  padding: 2.5rem 1.875rem;
}

.contact__item, .contact__btn {
  margin-top: 2.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

.contact__btn {
  margin: 3.75rem 0;
}

.contact__input, .contact__btn {
  height: 1.875rem;
  background: none;
  width: 18.75rem;
  border: 0.125rem solid #000000;
  color: #000000;
  margin-top: 0.3125rem;
  border-radius: 0.3125rem;
}

.contact__input {
  padding-left: 0.4375rem;
}

.contact__input:focus {
  outline: none;
}

.contact__button {
  /*  @include buttonBR(rem(50px), 100%, rem(50px), rem(3px), $ ) */
  height: 3.125rem;
  width: 100%;
  border-radius: 3.125rem;
  border: 0.1875rem solid #2a75d8;
}

.contact__button-inner {
  left: -0.125rem;
}

.contact__invalid {
  position: absolute !important;
  top: 3.625rem;
  display: none;
  color: #d2001c;
}

.contact__invalid--show {
  display: block;
}

.contact__button-inner-content {
  color: #2a75d8;
  font-weight: 700;
  border-radius: 3.125rem;
  font-size: 1.25rem;
}

.contact__button-inner-content::before {
  width: 25rem;
  height: 25rem;
  line-height: 25rem;
  left: -3.75rem;
}

.contact__button-inner-content:hover {
  color: #ffffff;
}

.contact__button-inner-content:hover::before {
  -webkit-box-shadow: inset 0 0 0 20rem #2a75d8;
          box-shadow: inset 0 0 0 20rem #2a75d8;
}

@media (max-width: 950px) {
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 350px) {
  .contact__input, .contact__btn {
    width: 16.25rem;
  }
}

.counter {
  /*  margin: rem(40px) auto; */
}

.counter__body {
  width: 100%;
  position: relative;
  margin-top: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__button {
  width: 1.875rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
}

.counter__button--disabled {
  opacity: 0.3;
  cursor: auto;
}

.counter__button--disabled > .counter__element {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.counter__amount {
  font-size: 1.5rem;
}

.counter__button:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.counter__button > .counter__element {
  /*  left: 0; */
  -webkit-transform-origin: 50% 96%;
          transform-origin: 50% 96%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.counter__button > .counter__element:nth-child(1) {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  position: absolute;
  /*  top: -5px !important; */
}

.counter__button:hover > .counter__element:nth-child(1) {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

.counter__button > .counter__element:nth-child(2) {
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
  /*    bottom: 21px !important;
    left: rem(-1.5px); */
  /* left: rem(-2px);
    top: rem(-1px); */
}

.counter__button:hover > .counter__element:nth-child(2) {
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
  /*  left: rem(-1px);
    bottom: 20.5px !important; */
  /*  left: rem(-2px);
    top: rem(-1px); */
  /* top: rem(-0.5px); */
}

.counter__element {
  position: absolute;
  width: 0.15625rem;
  border-radius: 3.4375rem;
  height: 1.5625rem;
  background-color: #000000;
}

.counter__invalid {
  position: absolute !important;
}

.offer {
  padding-left: 1.875rem;
}

.offer__title {
  font-size: 1.375rem;
}

.offer__body {
  padding-top: 4.375rem;
}

.offer__img {
  height: 21.875rem;
}

.offer__span {
  color: #2a75d8;
}

@media (max-width: 550px) {
  .offer__span {
    font-size: 1.375rem;
  }
}

@media (max-width: 1200px) {
  .offer__img {
    height: 30vw;
  }
}

@media (max-width: 950px) {
  .offer {
    padding-left: 0;
  }
  .offer__img {
    display: none;
  }
}
/*# sourceMappingURL=contact.css.map */