@import "../vars&mixins.scss";
@import "../../../node_modules/sass-rem/rem";

.about {
  margin-top: rem(100px);
  &__content {
    margin-top: rem(90px);
    display: grid;
    grid-gap: rem(60px);
    grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(rem(300px), 1fr));
  }
}

.about-item {
  @include flexbox(row, space-between, center);

  &__main {
    margin-right: rem(20px);
  }

  &__title {
    max-width: 350px;
    margin: 10px 0;
    font-size: rem(20px);
  }

  &__text {
    margin: 10px 0;
  }

  &__icon {
    width: rem(50px);
  }
}

.video {
  margin-top: rem(110px);
  @include flexbox(row, space-between, center);
  @media (max-width: 709px) {
    margin-top: rem(70px);
    @include flexbox(column, space-between, center);
    &__item {
      width: 100%;
    }
    &__item:nth-child(2) {
      margin-top: rem(20px);
    }
  }
  &__item {
    width: 48.5%;
    @include flexbox(column, center, flex-end);
  }

  &__item > &__title {
    align-self: flex-start;
  }
  &__gif {
    width: 100%;
  }
}
